@charset "UTF-8";

body {
	font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";

	background-image: linear-gradient(45deg, #E1DEB0 25%, transparent 25%, transparent 75%, #E1DEB0 75%, #E1DEB0),
    linear-gradient(45deg, #E1DEB0 26%, transparent 26%, transparent 74%, #E1DEB0 74%, #E1DEB0);
    background-image: -webkit-linear-gradient(45deg, #E1DEB0 25%, transparent 25%, transparent 75%, #E1DEB0 75%, #E1DEB0),
    -webkit-linear-gradient(45deg, #E1DEB0 26%, transparent 26%, transparent 74%, #E1DEB0 74%, #E1DEB0);
	background-image: -moz-linear-gradient(45deg, #E1DEB0 24%, transparent 24%, transparent 76%, #E1DEB0 76%, #E1DEB0),
    -moz-linear-gradient(45deg, #E1DEB0 26%, transparent 26%, transparent 74%, #E1DEB0 74%, #E1DEB0);
    background-image: -o-linear-gradient(45deg, #E1DEB0 25%, transparent 25%, transparent 75%, #E1DEB0 75%, #E1DEB0),
    -o-linear-gradient(45deg, #E1DEB0 25%, transparent 25%, transparent 75%, #E1DEB0 75%, #E1DEB0);
    background-size: 100px 100px;
	background-position: 0 0, 50px 50px;
}

.haba {
	margin: 0 auto;
	width: 250px;
}

.ei input {
		background-color: #EA4D3C;
		border-radius: 5px;
  		color: white;
}

.ei input:hover {
	background-color: rgba(145, 237,237, 0.7);
	cursor: pointer;
}

.ei {
	width: 35px;
	float: right;
	position: relative;
	bottom: 2px;
}

.eiei input {
		background-color: #EA4D3C;
		border-radius: 5px;
  		color: white;
}

.eiei input:hover {
	background-color: rgba(91,155,213, 0.7);
	cursor: pointer;
}

.eiei {
		width: 35px;
		float: clear;
		position: relative;
		bottom: 2px;
}

.box input, select {
	box-sizing: border-box;
	width: 250px;
}

.box input:focus {
	background: #bbbcde;
	border-color: black;
}


h1 {
	margin: auto 0;
	width: 100%;
	font-size: 23px;
	text-align: center;
}

.error {
	padding-top: 5px;
	color: red;
	font-size: 85%;
	text-align: center;
}